<!doctype html>
<html lang="en">
<head>
    <title>TODO</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <h2>Quản lý Ghi chú Cá nhân</h2>

    <form th:action="@{/todos/save}" th:object="${todo}" method="post" class="mb-4">
        <div class="form-row">
            <div class="col-md-5">
                <input type="text" th:field="*{content}" class="form-control" placeholder="Nội dung công việc"/>
                <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" style="color:red"></p>
            </div>

            <div class="col-md-4">
                <input type="date" th:field="*{dueDate}" class="form-control"/>
                <p th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}" style="color:red"></p>
            </div>

            <div class="col-md-3">
                <button type="submit" class="btn btn-primary btn-block">Thêm mới</button>
            </div>
        </div>
    </form>

    <hr>

    <table class="table table-bordered ">
        <thead>
        <tr>
            <th>Nội dung</th>
            <th>Ngày hết hạn</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="t : ${listTodo}"> <td th:text="${t.content}"></td>
            <td th:text="${t.dueDate}"></td>
            <td th:text="${t.status}"></td>
            <td>
                <a th:href="@{/todos/delete/{id}(id=${t.id})}"
                   class="btn-sm"
                   >Xóa</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>